html{
   
    position:relative;

}
.footer{
    position:absolute;
    bottom:0;
    left:0;
    height:100px;
    background-color: rgb(214, 238, 218);
    width:100%;
}
#root{
    min-height:100%;
}